.item-info-config{
   border: 1px solid #ebe6e2;
    float: left;
    height:900px;
    line-height: 30px;
    width: 750px;
        margin-left: 10px;
    margin-top: 10px;
    /*color:#63ae12;*/
}

.item-config{
     margin-left: 23px;
    margin-top: 10px;
}

.SaveCancel{
    margin-top: 18px;
     margin-left: 276px;
      float: left;
        margin-bottom: 185px;
        width:90%;
}
input[type="text"], input[type="submit"], select, textarea, Button {
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    display: block;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
