<?xml version="1.0"?>
<configuration>
  <configSections>
   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>

  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-HoaQuaVn-20141129142234;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-HoaQuaVn-20141129142234.mdf"/>
  </connectionStrings> 
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
      <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  <system.web>
  
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <globalization
      fileEncoding="UTF-8"
      requestEncoding="UTF-8"
      responseEncoding="UTF-8"
      culture="en-US"
      uiCulture="de-DE"
    />
    <customErrors mode="Off"/>
    <compilation strict="false" explicit="true" targetFramework="4.0" debug="true"/>
    
  </system.web>
  <appSettings>
    <add key="DBServer" value="(local)"/>
    <add key="Database" value="nhhoa3pd_fruit"/>
    <add key="DBDNS" value=""/>
    <add key="DBUser" value="nhhoa_sa"/>
    <add key="DBPassword" value="admin3w3ll_"/>
    <add key="FolderPath" value="UpLoad/"/>
  </appSettings>
  <rewriter>
    <rewrite url="~/tin-tuc/(.+)-(.+)" to="~/News.aspx?MyTitleId=$2"/>
    <rewrite url="~/tin-tuc/" to="~/Tin-Tuc.aspx"/>
    <rewrite url="~/combo/(.+)-(.+)" to="~/Combo.aspx?MyTitleId=$2"/>
    <rewrite url="~/san-pham/(.+)-(.+)" to="~/Item.aspx?MyTitleId=$2"/>
    <rewrite url="~/quy-dinh-chung/(.+)-(.+)" to="~/Quy-Dinh-Chung.aspx?MyTitleId=$2"/>
    <rewrite url="~/tim-kiem/(.+)-(.+)" to="~/Tim-Kiem.aspx?MyTitleId=$2"/>
    <rewrite url="~/home/" to="~/Index.aspx"/>
    <rewrite url="~/gioi-thieu/" to="~/Gioi-Thieu.aspx"/>
    <rewrite url="~/lien-he/" to="~/Lien-He.aspx"/>
  </rewriter>
</configuration>